<div>
    <div *ngIf="!isLogin()">
        <nav class="navbar fixed-top navbar-expand-lg" style="background:#8E4739">
            <div class="container-fluid">
                <a class="navbar-brand d-flex" href="/home">
                    <img src="https://github.com/shubhmittal07/JWT_user_Auth/blob/main/Only_Logo_Care_Haven.png?raw=true" alt="Logo" style="height: 40px;">
                    <h1 style="font-size: 25px; padding-left: 5px; padding-top: 5px;">Care Haven</h1>
                  </a>
                  
                <button class="navbar-toggler" style="border-color: white;" type="button" data-toggle="collapse"
                    data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" style="color : white" routerLink="/register" routerLinkActive="active"><i class="fa-solid fa-id-card"></i> Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logout" routerLink="/login" routerLinkActive="active"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div *ngIf="isLogin()">
        <app-adminnav *ngIf="isAdmin()"></app-adminnav>

        <app-usernav *ngIf="isUser()"></app-usernav>
    </div>

</div>