body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/shubhmittal07/JWT_user_Auth/blob/main/background_image_care_Haven02.jpg?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-image: linear-gradient(to right top, rgba(142, 71, 57, 0.9), rgba(157, 93, 70, 0.9), rgba(172, 115, 86, 0.9), rgba(187, 137, 103, 0.9), rgba(201, 160, 122, 0.8));
    box-shadow: -9px -8px 30px -19px rgba(0,0,0,0.45), 0px 20px 10px -20px rgba(0,0,0,0.45);
    padding: 2rem;
    border-radius: 15px;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    color: white;
    font-family: 'Merriweather', serif;
    margin-bottom: 1.5rem;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group label {
    color: white;
    font-weight: bold;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-bottom: 2px solid white;
    color: black;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    background-color: rgba(255, 255, 255);
    border-color: #C9A07A;
    box-shadow: none;
}

.border-add {
    border-color: #C9A07A !important;
}

#error {
    color: yellow;
    font-size: 0.9rem;
}

.btn-success {
    background-color: #C9A07A;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #A67C52;
}

.modal-content {
    background-color: rgba(201, 160, 122, 0.9); /* Light brown background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1.5rem;
}

.modal-body h5 {
    font-size: 1.8rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: white; /* Set text color to white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

.modal-body p {
    margin: 0.5rem 0;
    font-size: 1.5rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: white; /* Set text color to white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

.btn-danger {
    background-color: #d9534f;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.2rem; /* Increase font size */
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #c9302c;
}
