<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content-container">
            <img id="logo" src="https://github.com/shubhmittal07/JWT_user_Auth/blob/main/CareHaven_Logo_Full_HD.png?raw=true" alt="CareHaven Logo">
            <p>
                CareHaven facilitates seamless interaction between orphanages and compassionate individuals, ensuring that essential resources reach children in need. Through its intuitive interface, CareHaven empowers users to contribute to the well-being and future of orphaned children worldwide. By fostering collaboration between donors, volunteers, and orphanage administrators, CareHaven cultivates a community-driven approach to making a lasting impact on the lives of vulnerable children.
            </p>
        </div>
    </div>
</body>
</html>
